---
const {siteName} = Astro.props;
---

<!-- Footer -->
<section class="bg-bdazzled-blue">
    <nav class="container block sm:flex items-center py-4 mt-0 sm:mt-12 text-white">
        <div class="pb-3 sm:py-1 flex items-center justify-center sm:justify-between gap-4">
            <img class="w-10" src='/assets/logo.svg' alt="">
            <h1 class="text-3xl font-bold italic">{siteName}</h1>
        </div>
        <ul class="flex flex-1 justify-center sm:justify-end items-center gap-12 uppercase text-sm">
            <a href="/"><li class="p-2 hover:bg-gunmetal hover:bg-opacity-40 rounded-sm cursor-pointer">Home</li></a>
            <a href="/about"><li class="p-2 hover:bg-gunmetal hover:bg-opacity-40 rounded-sm cursor-pointer">About</li></a>
        </ul>
    </nav>
</section>