---
import HomeLayout from '../layouts/HomeLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

let title = 'About';
let siteName = 'Simple Site';
---

<HomeLayout title={title}>
	<Header siteName={siteName} />
	<div class="container mt-12">
		<article class="w-full lg:w-3/4 xl:w-2/3 mx-auto leading-6">
			<h1 class="text-3xl capitalize">About what I do, and why I want to get out of it</h1>
			<p class="text-sm md:text-base font-normal text-gray-600">By <span class="text-gray-500">Kyle Hitchcock</span></p>
			<!-- The Content -->
			<p class="my-7">I'm a WordPress developer of 6 years, including some work on custom themes and plugins for a wide range of clients of different industries. One particular trend that stuck out of nearly every project is one that's been the souce of frustration out of all WordPress sites I've built:</p>
			<img class="max-w-md mx-auto" src="/assets/speed.webp" title="speed" alt="speed">
			<p class="text-center mx-auto">Speed</p>
			<p class="my-7">WordPress really knows how to make a fast server-side language like PHP feel sluggish, even when paying out for a premium caching plugin. My goal is to pick up on a new set of tools so that I can build websites and web apps that deliver on performance.</p>
		</article>
	</div>

	<Footer siteName={siteName} />
	
</HomeLayout>