---
const {title} = Astro.props;
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<style global>
		@import "../styles/global.css";
	</style>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,400;0,900;1,400&display=swap" rel="stylesheet"> 
</head>
<body class="font-roboto overflow-x-hidden">
	<main>
		<slot />
	</main>
</body>
</html>
